@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Koulen&family=Roboto+Flex:opsz@8..144&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto Flex', sans-serif !important;
    font-weight: 400 !important;
}

/* Top banner */

#bannertop {
    background-color: #343a40;
    width: 100%;
    top:0;
    position:fixed;
    z-index:5;
}

/* Headings and logo */

h1, h2, h3, h4, h5 {
    font-family: 'Koulen', cursive !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    font-size: 300% !important;
}

#logo {
    color: #fff;
    background-color: #343a40;
    letter-spacing: 4px;
    float:left;
    padding-left: 48px;
    padding-top:10px;
}

/* Section padding */

.section-padding {
    padding: 10px 10vw;
}

/* Heading seperator */

.heading-seperator {
    width: 50%;
    margin: 10px auto;
    color:#000;
    background-color: #000;
}

/* Navigation */

#menu {
    list-style-type: none;
    font-size: 130%;
    letter-spacing: 4px;
    float:right;
    text-transform:uppercase;
    padding-top: 20px;
}

#menu li {
    display: inline;
    color:inherit;
    padding-right: 48px;
}

#menu a {
    text-decoration: none;
    color:#fff;
}

#menu a:hover {
    color:#adff2f;
    text-decoration: underline;
}

#menu .active {
    text-decoration: underline;
    color:#adff2f;
}

/* Hero image */

#hero-container {
    position:relative;
    overflow:hidden;
    width: 100%;
    height: 975px;
}

#hero-image {
    width: 100%;
    height: 100%;
    background: url('../images/hero-image-treadmill.jpg') no-repeat right top;
    background-size: cover;
    background-color: #343a40;
}

/* Welcome text box and signup button */

#welcome-text-box {
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 400px;
    height: 250px;
    background-color: rgba(22, 25, 27, .7);
    bottom: 30px;
    color:#fff;
    text-align: center;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding: 6px 10px;
    border-radius: 30px;
    border: 2px solid #fff;
}

#welcome-text-box h2 {
    padding-top:20px;
}

#welcome-text-box p {
    font-size: 150%;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 0;
}

.register-button {
    color:#fff;
    font-size: 150%;
    background-color: #DD614A;
    border: 2px solid #fff;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.register-button:hover {
    color:#DD614A;
    background-color:#fff;
    border-color: #DD614A;
}

/* About us */

#about-us {
    text-align: center;
}

#reasons-container {
    width: 100%;
    margin-bottom: 20px;
}

#low-cost {
    width:33%;
    float: left;
    
}

#open-time {
    width: 33%;
    margin: auto;
    
}

#equipment {
    width: 33%;
    float:right;
    
}

#about-us p {
    padding:0 25% 20px 25%;
    line-height: 25px;
}

/* Carousel gallery */

#carousel-gallery {
    max-width: 1000px;
}

.carousel-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-size:cover;
    opacity: 0.7;
    max-width: 100%;
    height: 100%;
}

.carousel-inner {
    max-width: 100%;
 }
    
.carousel-item {    
    height:500px;    
    background: #000;
    min-width: 100%;
}
    
/* Location section */

#location {
    text-align: center;
    margin-top: 15px;
    background-color: #6D8EA0;
    height: 700px;
    overflow: hidden;
    color: #fff;
}

/* Google map */

#map-container {
    overflow: hidden;
    position: relative;
    height: 80%;
    width:60%;
    float: left;
    border: 2px solid #000;
}

#map-container iframe {
    left: 0;
    top: 0;
    position: relative;
    height: 100%;
    width: 100%;
}

/* Gym photo and location info */

#location-info {
    float: right;
    width: 40%;
    height: 80%;
    position: relative;
    overflow: hidden;
}

#location-info img {
    position: relative;
    width: 100%;
    height: 80%;
    border: 2px solid #000;
}

#location-info p {
    color: #000;
    background-color: #fff;
    border: 2px solid #000;
    font-size: 100%;
    margin-bottom: 0;
    height: 20%;
    font-weight: bold;
    line-height: 30px;
    padding: 10px;
}

/* Personal trainers Section */

#personal-trainers {
    text-align: center;
    background-color: #6a8d73;
    color: #fff;
}

#personal-trainers p, #personal-trainers h5 {
    color: #000;
}

.card {
    border-radius: 50px !important;
}

.card img {
    border-radius: 50px 50px 0 0;
}

/* Footer */

footer {
    text-align: center;
    background-color: #343a40;
    width: 100%;
    height: 100px;
    color: #fff;
    padding:10px 0;
}

footer h4 {
    font-size: 140% !important;
}


#media-icons ul {
    list-style-type: none;
    padding: 0;
    font-size: 150%;
    margin: 0;
} 

#media-icons li {
    display: inline;
    padding: 0 5%;
}

#media-icons a:hover {
    color: #fff;
}

/* Media queries */ 

/* Screen size 800px and less */

@media screen and (max-width:800px) {
    #equipment, #open-time, #low-cost {
        width: 100%;
    }

    #map-container {
        width:100% !important;
        height: 500px;
    }

    #location-info {
        width: 100%;
    }
    
    #location-info img {
        display: none
    }
}

/* Screen size 600px and less */

@media screen and (max-width:600px) {
    h3, h4, h5 {
        font-size: 32px !important;
    }
    
    h2  {
        font-size: 38px !important;
    }
    
    
}

/* Screen size 400px and less */

@media screen and (max-width:400px) {
    #welcome-text-box {
        max-width: 250px;
    }

    #welcome-text-box p {
        display: none;
    }

    #welcome-text-box h2 {
        padding-bottom: 30px;
    }
}
