@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Koulen&family=Roboto+Flex:opsz@8..144&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto Flex', sans-serif !important;
    font-weight: 400 !important;
}

/* Top banner */

#bannertop {
    background-color: #343a40;
    width: 100%;
    top:0;
    position:fixed;
    z-index:5;
}

/* Headings and logo */

h1, h2, h3, h4, h5 {
    font-family: 'Koulen', cursive !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    font-size: 300% !important;
    letter-spacing: 2px;
}

#logo {
    color: #fff;
    background-color: #343a40;
    letter-spacing: 4px;
    float:left;
    padding-left: 48px;
    padding-top:10px;
}

/* Section padding */

.section-padding {
    padding: 10px 10vw;
}

/* Heading seperator */

.heading-seperator {
    width: 50%;
    margin: 10px auto;
    color:#000;
    background-color: #000;
}

/* Navigation */

#menu {
    list-style-type: none;
    font-size: 130%;
    letter-spacing: 4px;
    float:right;
    text-transform:uppercase;
    padding-top: 20px;
}

#menu li {
    display: inline;
    color:inherit;
    padding-right: 48px;
}

#menu a {
    text-decoration: none;
    color:#fff;
}

#menu a:hover {
    color:#adff2f;
    text-decoration: underline;
}

#menu .active {
    text-decoration: underline;
    color:#adff2f;
}

/* Hero image */

#hero-image {
    width: 100%;
    height: 60vh;
    background: no-repeat linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)), url(../images/hero-image-treadmill.jpg) right top;
    background-size: cover;
    margin-top: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Welcome text box and signup button */

#welcome-text-box {
    font-size: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    color:#fff;
    text-align: center;
    padding: 0 10px;
}

#welcome-text-box h2 {
    padding-bottom:10px;
}

#welcome-text-box p {
    font-size: 130%;
    padding-bottom: 24px;
    margin-bottom: 0;
}

.custom-button {
    color:#fff;
    font-size: 150%;
    background-color: #DD614A;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 10px;
    display: inline-block;
}

.custom-button:hover {
    color:#DD614A;
    background-color:#fff;
}

/* About us */

#about-us {
    text-align: center;
}

#reasons-container {
    width: 100%;
    margin-bottom: 20px;
}

#about-us p {
    padding:0 25% 20px 25%;
    line-height: 25px;
}

/* Carousel gallery */

#carousel-gallery {
    max-width: 1000px;
}

.carousel-image {
    background-position: center;
    background-size:cover;
    opacity: 0.7;
    height: 100%;
}
   
.carousel-image-container {    
    height:500px;    
    background: #000;
}
    
/* Location section */

#location {
    text-align: center;
    margin-top: 15px;
    background-color: #6D8EA0;
    overflow: hidden;
    color: #fff;
}

#location-container {
    height: 500px;
    justify-content: center;
}

/* Google map */

#map-container {
    overflow: hidden;
    padding: 0;
    max-height: 500px;
}

#map-container iframe {
    height: 100%;
    width: 100%;
}

/* Gym photo and location info */

#location-info {
    overflow: hidden;
    padding: 0;
    max-width: 500px;
}

#location-info img {
    width: 100%;
    height: 80%;
}

#location-info p {
    color: #fff;
    font-size: 100%;
    margin-bottom: 0;
    height: 20%;
    font-weight: bold;
    line-height: 30px;
    padding: 10px;
}

/* Personal trainers Section */

#personal-trainers {
    text-align: center;
    background-color: #6a8d73;
    color: #fff;
}

#personal-trainers p, #personal-trainers h5 {
    color: #000;
}

.card {
    border-radius: 50px !important;
}

.card img {
    border-radius: 50px 50px 0 0;
}

/* Footer */

footer {
    text-align: center;
    background-color: #343a40;
    width: 100%;
    height: 100px;
    color: #fff;
    padding:10px 0;
}

footer h4 {
    font-size: 140% !important;
}

#media-icons ul {
    list-style-type: none;
    padding: 0;
    font-size: 150%;
    margin: 0;
} 

#media-icons li {
    display: inline;
    padding: 0 5%;
}

#media-icons a:hover {
    color: #fff;
}

/* General form styles */

.full-background {
    height: 100vh;
    margin-top: 75px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.row > .form-layout {
    width: 60%;
    background-color:rgb(52, 58, 64, 0.5);
    margin: auto;
    border-radius: 20px;
    padding: 30px;
    min-width: 230px;
}

.form-field {
    margin-bottom: 10px;
}

.input-field {
    width: 100%;
    margin: 5px;
}

input:focus {
    background-color: #343a40;
    color:#fff;
}

/* Registration form */

#registration {
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url('../images/register-background.webp') center no-repeat;
    background-size: cover;
}

#registration h2 {
    text-align: center;
}

#register-container {
    color: #fff;
}

#register-form input[type=submit] {
    max-width: 150px;
    margin: auto;
}

#gender-type {
    margin-bottom: 10px;
}

/* Message displayed after submitting form */

#thank-you-message {
    text-align: center;
    color: #fff;
    background-color:rgb(52, 58, 64, 0.5);
    margin: auto;
    border-radius: 20px;
    padding: 30px;
    margin: 0 10px;
}

/* Contact form */

#contact-us {
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url('../images/contact-background.webp') center no-repeat;
    background-size: cover;
}

#contact-container {
    color: #fff;
}

#contact-container h2 {
    text-align: center;
}

#topic {
    width: 100%;
}

#contact-message {
    width: 100%;
    height: 100px;
    margin: 10px 0;
}

#contact-form input[type=submit] {
    max-width: 150px;
    margin: auto;
}


/* Media queries */ 

/* Screen size 992px wide and less */
/* Makes map take full width and removes gym image to reduce clutter */

@media screen and (max-width:992px) {
    #map-container {
        width:100%;
        height: 80%;
    }

    #location {
        padding: 0;
    }

    #location-info {
        width: 100%;
    }
    
    #location-info img {
        display: none
    }
}  

/* Screen size 600px wide and less */
/* Changes heading font-sizes for small screens */

@media screen and (max-width:600px) {
    h3, h4, h5 {
        font-size: 32px !important;
    }
    
    h2  {
        font-size: 38px !important;
    }

    #welcome-text-box p {
        font-size: 100%;
    }

/* Reduces height of carousel image to prevent stretching */    
    .carousel-image-container {
        max-height: 300px;
    }
}

/* Screen size 400px wide and less */
/* Removes paragraph in welcome text box and changes hero image */

@media screen and (max-width:400px) {
    #welcome-text-box p {
        display: none;
    }

    #hero-image {
        background: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)), url('../images/hero-image-alt.jpg') no-repeat center center;
        background-size: cover;
    }
}

/* Screen size 767px wide and less */
/* Adjusts nav bar size to work with smaller screens */

@media  screen and (max-width:767px) {
    #logo {
        width: 100%;
        text-align: center;
        padding-left: 0;
        margin-bottom: 0;
    }

    #menu {
        text-align: center;
        width: 100%;
        padding-left: 0;
        padding-top: 0;
        margin-bottom: 5px;
    }

    #menu li {
        padding-right: 0;
        display: block;
        width: 100%;
        font-size: 16px;
    }

    #hero-image, #registration, #contact-us {
        margin-top: 144px;
    }   
}

/* Screen size 620px high and lower */
/* Adjusts form size to prevent overflow on landscape devices */

@media screen and (max-height:620px) {
    #registration, #contact-us {
        padding-left: 5px;
        padding-right: 5px;
    }

    #register-form, #contact-form {
        width: 100%;
        font-size: 10px;
        padding: 5px;
    }

    #register-form .form-field, #contact-form .form-field {
        width: 50%;
    }
}

